.cta-banner {
    &__wrapper {
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 528px;
        position: relative;
        margin-bottom: 156px;

        @include breakpoint(smalldesktop) {
            min-height: 664px;
        }
    }

    &__container {
        max-width: $inner-site-width;
        margin: 0 auto;
        padding: 0 38px;
    }

    &__text-box {
        background: white;
        padding: 40px;
        max-width: 600px;
        width: 80%;
        position: absolute;
        bottom: -110px;
        box-shadow: 0px 0px 23px -11px $tertiary-color;

        @include breakpoint(smalldesktop) {
            padding: 60px;
        }
    }

    &__heading {
        letter-spacing: normal;
    }

    &__paragraph {
        padding-top: 15px;
        font-size: em(18);
        line-height: 28px;
        color: $font-secondary-color;
        letter-spacing: normal;

        @include breakpoint(smalldesktop) {
            padding-top: 30px;
            font-size: em(24);
            line-height: 36px;
        }
    }
}
