.footer {
    max-width: $inner-site-width;
    margin: 0 auto;
    padding: 24px 38px 0;
    
    @include breakpoint(tablet) {
        padding: 92px 38px 0;
    }

    &__container {
        @include breakpoint(tablet) {
            display: flex;
            justify-content: space-between;
        }

        @include breakpoint(desktop) {
            padding-right: 160px;
        }
    }

    &__social {
        width: 100%;
        max-width: 440px;
        position: relative;

        @include breakpoint(tablet) {
            max-width: 300px;
        }

        @include breakpoint(smalldesktop) {
            max-width: 440px;
        }

        &--icon {
            margin-right: 20px;
        }
    }

    &__newsletter {
        &--title {
            font-family: $secondary-font-family;
            font-size: em(24);
            line-height: 30px;
            display: block;
        }

        &--input {
            outline: none;
            border: none;
            border-bottom: 1px solid $secondary-color;
            width: 100%;
            color: $font-secondary-color;
            font-size: em(16);
            padding: 20px 0 10px;
        }

        &--submit {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='12' fill='%23B98361' viewBox='0 0 27 12'%3E%3Cpath d='M19.466 1.2l3.949 3.95H0v1.7h23.415l-3.95 3.95 1.202 1.2 6-6-6-6z'/%3E%3C/svg%3E%0A");
            background-repeat: repeat-y;
            background-color: transparent;
            border: none;
            position: absolute;
            top: 55px;
            right: 0;
            width: 27px;
            height: 12px;
            cursor: pointer;
        }

        &--subtitle {
            text-transform: uppercase;
            color: $font-secondary-color;
            font-size: em(16);
            letter-spacing: 2px;
            font-family: $tertiary-font-family;
            margin-bottom: 40px;

            @include breakpoint(tablet) {
                margin-bottom: 64px;
            }
        }
    }

    &__nav {
        margin-top: 40px;

        @include breakpoint(tablet) {
            margin-top: 0;
        }
    }

    &__nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        .menu-item a {
            color: $font-secondary-color;
            text-decoration: none;
            font-size: em(18);

            &:hover,
            &:focus {
                color: $secondary-color;
            }
        }

        .menu-item-type-post_type {
            position: relative;

            &:nth-child(5) {
                padding-bottom: 46px;

                &::after {
                    content: "";
                    position: absolute;
                    height: 2px;
                    border-bottom: 1px solid $secondary-color;
                    width: 24px;
                    top: 50px;
                    left: 0;
                }
            }
        }
    }

    &__contact {
        margin-top: 40px;

        @include breakpoint(tablet) {
            margin-top: 0;
        }

        &--row {
            &:last-child {
                margin-top: 20px;

                @include breakpoint(tablet) {
                    margin-top: 40px;
                }
            }
        }

        &--phone,
        &--email {
            color: $font-secondary-color;
        }

        &--email {
            text-decoration: none;

            &:hover,
            &:active {
                text-decoration: underline;
            }
        }
    }

    &__bottom-footer {
        display: flex;
        justify-content: space-between;
    }

    &__copyright {
        text-transform: uppercase;
        color: $font-secondary-color;
        font-size: em(12);
        line-height: 22px;
        letter-spacing: 1.5px;
        font-family: $tertiary-font-family;
        margin: 80px 0 40px;

        @include breakpoint(tablet) {
            margin: 26px 0 88px;
        }

        &--link {
            text-decoration: none;
            color: $font-secondary-color;

            &:hover,
            &:focus {
                color: $secondary-color;
            }
        }
    }

    &__top-arrow {
        width: 19px;
        height: 40px;
    }

    #top {
        transition: all 0.3s ease;
    }
}
