.horizontal-slider {

    &__wrapper {
        margin-bottom: 70px;
        background: $primary-color;

        @include breakpoint(smalldesktop) {
            margin-bottom: 144px;
        }

    // container of images
    .tns-outer .tns-ovh {

        @include breakpoint(tablet) {
            margin-left: 38px;
        }

        @include breakpoint(desktop) {
            margin-left: 78px;
        }

        @include breakpoint(largedesktop) {
            margin-left: calc(((100vw - #{$inner-site-width}) / 2) + 140px);
        }

        @include breakpoint(xlargedesktop) {
            margin-left: calc(((100vw - #{$inner-site-width}) / 2) + 116px);
        }
    }

        &--heading {
            max-width: $inner-site-width;
            margin: 0 auto;
            font-size: em(28);
            line-height: 34px;
            font-family: $secondary-font-family;
            font-weight: normal;
            padding: 50px 38px 34px;
            letter-spacing: normal;
            
            @include breakpoint(tablet) {
                padding: 70px 38px 44px;
            }
    
            @include breakpoint(desktop) {
                padding: 74px 38px 46px 78px;
                font-size: em(36);
                line-height: 48px;
            }

            @include breakpoint(largedesktop) {
                padding: 74px 38px 46px 120px;
            }
        }

        // pagination
        .tns-nav {
            max-width: $inner-site-width;
            margin: 0 auto;
            padding: 0 38px 0;

            @include breakpoint(tablet) {
                padding: 0 38px 0;
            }
    
            @include breakpoint(desktop) {
                padding: 0 38px 0 78px;
            }

            @include breakpoint(largedesktop) {
                padding: 0 38px 0 120px;
            }

            button {
                background: $font-secondary-color;
                width: 100px;
                height: 2px;
                width: 20%;
                border: none;
                
                @include breakpoint(tablet) {
                    width: 33.3333333333%;
                }
            }

            button.tns-nav-active {
                height: 12px;
                background: $secondary-color;
                position: relative;
                top: 5px;
            }
        }

        // arrows
        .tns-controls {
            max-width: $inner-site-width;
            padding: 44px 38px 70px;
            margin: 0 auto;
            position: relative;

            @include breakpoint(smalldesktop) {
                padding: 44px 38px 138px;
            }
        }

        [data-controls='prev'],
        [data-controls='next'] {
            background: transparent;
            color: white;
            height: 19px;
            border: none;
            background-repeat: no-repeat;
            color: transparent;
        }

        [data-controls='prev'] {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='19' viewBox='0 0 11 19'%3E%3Cpath fill='%23B98361' fill-rule='evenodd' d='M10.801 1.901L4.877 8.155 3.641 9.5l1.236 1.344 5.924 6.255L9 19 0 9.5 9 0z'/%3E%3C/svg%3E%0A");
            margin-right: 13px;
            position: absolute;
            right: 60px;

            @include breakpoint(smalldesktop) {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='19' viewBox='0 0 11 19'%3E%3Cpath fill='%23B98361' fill-rule='evenodd' d='M10.801 1.901L4.877 8.155 3.641 9.5l1.236 1.344 5.924 6.255L9 19 0 9.5 9 0z'/%3E%3C/svg%3E%0A");
            }
        }

        [data-controls='next'] {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='19' viewBox='0 0 11 19'%3E%3Cpath fill='%23B98361' fill-rule='evenodd' d='M0 1.901l5.924 6.254L7.16 9.5l-1.237 1.344L0 17.1 1.801 19l9-9.5-9-9.5z'/%3E%3C/svg%3E%0A");
            margin-left: 13px;
            position: absolute;
            right: 26px;

            @include breakpoint(smalldesktop) {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='19' viewBox='0 0 11 19'%3E%3Cpath fill='%23B98361' fill-rule='evenodd' d='M0 1.901l5.924 6.254L7.16 9.5l-1.237 1.344L0 17.1 1.801 19l9-9.5-9-9.5z'/%3E%3C/svg%3E%0A");
            }
        }
    }

    &__slides {
        padding-bottom: 40px;
        display: flex;

        @include breakpoint(smalldesktop) {
            padding-bottom: 64px;
        }
    }

    &__container {
        width: 100%;
        max-width: 440px;
    }

    &__card {
        position: relative;
        // make sure all cards are same height and white despite how much content is in each.
        background: white;
        height: 100%;
    }

    &__text {
        position: relative;
        bottom: 0;
        right: 0;
        padding: 38px 38px 60px;
        background: white;

        @include breakpoint(smalldesktop) {
            padding: 40px;
        }

        @include breakpoint(largedesktop) {
            position: absolute;
        }
    }

    &__image-wrapper {
        position: relative;
    }

    &__image-container div {
        &:not(:first-child) {
            display: none;
            visibility: hidden;
        }
    }

    &__image {
        width: 100%;
        height: 323px;
        object-fit: cover;
        display: block;

        @include breakpoint(smalldesktop) {
            height: 505px;
            width: 100%;
            max-width: 920px;
            object-fit: cover;
        }
    }

    &__tag {
        background: $secondary-color;
        color: white;
        padding: 10px 15px 5px;
        font-size: em(16);
        line-height: 20px;
        letter-spacing: 3px;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;

        @include breakpoint(tablet) {
            font-size: em(18);
            line-height: 24px;
        }

        &--rented {
            background: $quaternary-color;
        }
    }

    &__sub-heading {
        color: $font-secondary-color;
        font-family: $tertiary-font-family;
        font-weight: normal;
        font-size: em(16);
        line-height: 20px;
        letter-spacing: 2.0px;
        padding: 0 0 24px 0;
    }

    &__link {
        text-decoration: none;
    }

    &__heading {
        font-size: em(24);
        line-height: 28px;
        font-family: $secondary-font-family;
        font-weight: normal;
        letter-spacing: 0;
        padding: 26px 0 0;
        border-top: 1px solid $secondary-color;

        @include breakpoint(smalldesktop) {
            font-size: em(28);
            line-height: 38px;
        }
    }

    &__features-wrapper {
        display: flex;
    }

    &__features {
        color: $secondary-color;
        font-family: $tertiary-font-family;
        font-weight: normal;
        font-size: em(16);
        padding-right: 25px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            height: 1px;
            border-top: 1px solid $seperator-color;
            top: 60%;
            right: 8px;
            width: 10px;
            transform: translateY(-60%);
        }

        &:last-child {
            &::after {
                content: none;
            }
        }
    }
}
