.accordion-btn {
    display: flex;
    max-width: $inner-site-width;
    margin: 0 auto;
    transition: 0.4s;
    font-size: em(22);
    color: $secondary-color;
    font-family: $secondary-font-family;
    font-weight: normal;
    background: none;
    border: none;
    margin-top: 165px;
    padding-bottom: 10px;
    border-bottom: 1px solid $font-secondary-color;
    width: 100%;
    text-align: left;
    cursor: pointer;
    position: relative; 

    &:after {
        /* "plus" sign (+) */
        content: " ";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='40' viewBox='0 0 19 40'%3E%3Cpath fill='%23B98361' fill-rule='evenodd' d='M1.901 10.801l6.254-5.924V40h2.69V4.877l6.254 5.924L19 9 9.5 0 0 9z'/%3E%3C/svg%3E%0A");
        width: 19px;
        height: 20px;
        position: absolute;
        top: 0;
        right: 30px;
        background-repeat: no-repeat;
        background-size: contain;
        transition: all .3s ease-out;
        transform: rotate(180deg);

        @include breakpoint(smalldesktop) {
            width: 22px;
            height: 23px;
        }
    }

    &.active:after {
        /* "minus" sign (-) */
        content: " ";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='40' viewBox='0 0 19 40'%3E%3Cpath fill='%23B98361' fill-rule='evenodd' d='M1.901 10.801l6.254-5.924V40h2.69V4.877l6.254 5.924L19 9 9.5 0 0 9z'/%3E%3C/svg%3E%0A");
        width: 19px;
        height: 20px;
        position: absolute;
        top: 0;
        right: 30px;
        background-repeat: no-repeat;
        transform: rotate(360deg);

        @include breakpoint(smalldesktop) {
            width: 22px;
            height: 23px;
        }
    }
}

.listing-filter {
    &__wrapper {
        padding: 0 38px;
        max-width: $inner-site-width;
        margin: 0 auto;
    }

    &__inner {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;

        @include breakpoint(smalldesktop) {
            max-height: 54px;
        }

        form ul {
            @include breakpoint(mobile) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 20px;
            }

            @include breakpoint(desktop) {
                display: flex;
            }
        }
        form li {

            @include breakpoint(desktop) {

                &:first-child {
                    padding-right: 19px;
                }

                &:nth-child(2) {
                    padding-right: 60px;
                }

                &:nth-child(3) {
                    padding-right: 54px;
                }

                &:nth-child(4) {
                    padding-right: 20px;
                }
            }

            @include breakpoint(largedesktop) {

                &:first-child {
                    padding-right: 49px;
                }

                &:nth-child(2) {
                    padding-right: 120px;
                }

                &:nth-child(3) {
                    padding-right: 34px;
                }

                &:nth-child(4) {
                    padding-right: 20px;
                }
            }

            @include breakpoint(xlargedesktop) {

                &:first-child {
                    padding-right: 69px;
                }

                &:nth-child(2) {
                    padding-right: 120px;
                }

                &:nth-child(3) {
                    padding-right: 74px;
                }

                &:nth-child(4) {
                    padding-right: 20px;
                }
            }

            h4 {
                text-transform: uppercase;
                color: $font-secondary-color;
                font-family: $tertiary-font-family;
                font-weight: normal;
                padding: 5px 0 20px;
            }
        }
        .search-filter-reset {
            -webkit-font-smoothing: antialiased;
            display: inline-flex;
            background: $secondary-color;
            color: white;
            padding: 10px 28px;
            text-decoration: none;
            font-family: $secondary-font-family;
            font-weight: normal;
            font-size: em(16);
            border-radius: 4px; 
            transition: all 0.2s ease-in;

            @include breakpoint(smalldesktop) {
                margin-top: 46px;
                padding: 10px 28px;
            }

            &:hover,
            &:focus {
                background: $hover-dark-button;
            }
        }
        .searchandfilter ul>li>ul:not(.children) {
            display: block;
            padding: 0;
        }
        label {
            color: $font-secondary-color;
            font-family: $secondary-font-family;
            font-weight: normal;
            font-size: em(16);
        }
    }
}
