.accordion-btn {
    display: flex;
    max-width: $inner-site-width;
    margin: 0 auto;
    text-transform: uppercase;
    transition: 0.4s;
    font-size: em(22);
    font-family: $tertiary-font-family;
    color: $font-secondary-color;
    background: none;
    border: none;
    margin-top: 165px;
    padding-bottom: 20px;
    border-bottom: 1px solid $font-secondary-color;
    width: 100%;
    text-align: left;
    cursor: pointer;
    position: relative; 

    &:after {
        /* "plus" sign (+) */
        content: " ";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px'%0Awidth='30' height='30'%0AviewBox='0 0 172 172'%0Astyle=' fill:%23000000;'%3E%3Cg transform=''%3E%3Cg fill='none' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3E%3Cpath d='M0,172v-172h172v172z' fill='none'%3E%3C/path%3E%3Cg fill='%23b98361'%3E%3Cg id='surface1'%3E%3Cpath d='M34.34625,37.84c-0.90031,0.01344 -1.74687,0.37625 -2.37844,1.00781l-20.64,20.64c-1.34375,1.34375 -1.34375,3.52062 0,4.86437l72.24,72.24c1.34375,1.34375 3.52062,1.34375 4.86437,0l72.24,-72.24c1.34375,-1.34375 1.34375,-3.52062 0,-4.86437l-20.64,-20.64c-1.34375,-1.34375 -3.52062,-1.34375 -4.86437,0l-49.16781,49.16781l-49.16781,-49.16781c-0.65844,-0.65844 -1.55875,-1.02125 -2.48594,-1.00781z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cpath d='' fill='none'%3E%3C/path%3E%3Cpath d='' fill='none'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        width: 19px;
        height: 20px;
        position: absolute;
        top: 6px;
        right: 30px;
        background-repeat: no-repeat;
        background-size: contain;
        transition: all .3s ease-out;

        @include breakpoint(smalldesktop) {
            width: 22px;
            height: 23px;
        }
    }

    &.active:after {
        /* "minus" sign (-) */
        content: " ";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px'%0Awidth='30' height='30'%0AviewBox='0 0 172 172'%0Astyle=' fill:%23000000;'%3E%3Cg transform=''%3E%3Cg fill='none' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3E%3Cpath d='M0,172v-172h172v172z' fill='none'%3E%3C/path%3E%3Cg fill='%23b98361'%3E%3Cg id='surface1'%3E%3Cpath d='M34.34625,37.84c-0.90031,0.01344 -1.74687,0.37625 -2.37844,1.00781l-20.64,20.64c-1.34375,1.34375 -1.34375,3.52062 0,4.86437l72.24,72.24c1.34375,1.34375 3.52062,1.34375 4.86437,0l72.24,-72.24c1.34375,-1.34375 1.34375,-3.52062 0,-4.86437l-20.64,-20.64c-1.34375,-1.34375 -3.52062,-1.34375 -4.86437,0l-49.16781,49.16781l-49.16781,-49.16781c-0.65844,-0.65844 -1.55875,-1.02125 -2.48594,-1.00781z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cpath d='' fill='none'%3E%3C/path%3E%3Cpath d='' fill='none'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        width: 19px;
        height: 20px;
        position: absolute;
        top: 6px;
        right: 30px;
        background-repeat: no-repeat;
        transform: rotate(180deg);

        @include breakpoint(smalldesktop) {
            width: 22px;
            height: 23px;
        }
    }
}

.listing-filter {
    &__wrapper {
        padding: 0 38px;
        max-width: $inner-site-width;
        margin: 0 auto;
    }

    &__inner {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;

        @include breakpoint(smalldesktop) {
            max-height: 54px;
        }

        form ul {
            @include breakpoint(mobile) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 20px;
            }

            @include breakpoint(desktop) {
                display: flex;
            }
        }
        form li {

            @include breakpoint(desktop) {

                &:first-child {
                    padding-right: 19px;
                }

                &:nth-child(2) {
                    padding-right: 60px;
                }

                &:nth-child(3) {
                    padding-right: 54px;
                }

                &:nth-child(4) {
                    padding-right: 20px;
                }
            }

            @include breakpoint(largedesktop) {

                &:first-child {
                    padding-right: 49px;
                }

                &:nth-child(2) {
                    padding-right: 120px;
                }

                &:nth-child(3) {
                    padding-right: 34px;
                }

                &:nth-child(4) {
                    padding-right: 20px;
                }
            }

            @include breakpoint(xlargedesktop) {

                &:first-child {
                    padding-right: 69px;
                }

                &:nth-child(2) {
                    padding-right: 120px;
                }

                &:nth-child(3) {
                    padding-right: 74px;
                }

                &:nth-child(4) {
                    padding-right: 20px;
                }
            }

            h4 {
                text-transform: uppercase;
                color: $font-secondary-color;
                font-family: $tertiary-font-family;
                padding: 5px 0 20px;
            }
        }
        .search-filter-reset {
            -webkit-font-smoothing: antialiased;
            display: inline-flex;
            background: $secondary-color;
            color: white;
            padding: 10px 28px;
            text-decoration: none;
            font-family: $secondary-font-family;
            font-size: em(16);
            border-radius: 4px; 
            transition: all 0.2s ease-in;

            @include breakpoint(smalldesktop) {
                margin-top: 46px;
                padding: 10px 28px;
            }

            &:hover,
            &:focus {
                background: $hover-dark-button;
            }
        }
        .searchandfilter ul>li>ul:not(.children) {
            display: block;
            padding: 0;
        }
        label {
            color: $font-secondary-color;
            font-family: $secondary-font-family;
            font-size: em(16);
        }
    }
}
