.individual-listing__layout {
    max-width: $inner-site-width;
    margin: 0 auto;
    padding: 0 38px;
    
    @include breakpoint(smalldesktop) {
        display: flex;
    }
}

.content-lists {
    &__wrapper {
        @include breakpoint(smalldesktop) {
            width: 75%;
            padding-right: 162px;
        }
    }
}

.sidebar-form-test {
    @include breakpoint(smalldesktop) {
        width: 25%;
    }
}
